<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        Lore Tutorial
      </div>
    </div>
  </div>
</nav>
