<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "feed" class="navbar-brand"}}
        Lore Tutorial
      {{/link-to}}
    </div>
  </div>
</nav>
